<div class="film-item bg-gray-50 shadow-lg rounded-lg overflow-hidden w-full sm:w-1/2 lg:w-1/4 p-4 m-4 flex flex-col justify-between">
    {% if film.affiche %}
        <img src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="{{ film.titre }} affiche" class="w-full h-48 object-cover">
    {% endif %}
    <div class="film-info p-4 flex flex-col flex-grow">
        <h2 class="text-lg font-semibold mb-2 text-gray-800">{{ film.titre }}</h2>
        <p class="text-sm text-gray-600 mb-4 line-clamp-3">{{ film.description }}</p>
    </div>
    <div class="flex justify-center pb-4">
        <a href="{{ film.id }}" class="bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700 transition-all">Voir le film</a> <!-- Bouton d'action -->
    </div>
</div>