<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 mt-auto" style="background-color: darkgray;">
        <p>&copy; 2024 MonSite - Tous droits réservés</p>
        <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <p>
            adresse: 12 rue de la paix, 75000 Paris <br>
            Numéro de téléphone: 01 23 45 67 89 <br>
            Horaires d'ouverture: 9h-18h
        </p>
    </div>
    <!-- Copyright -->
</footer>