<section>
    {#    <div class="hero bg-base-200 min-h-screen flex items-center justify-center bg-gray-300"> #}
    <div class="hero-content text-center flex align-center justify-center p-6 mt-3">
        <div class="max-w-md p-20">
            <h1 class="text-7xl font-bold text-gray-300">Cinephoria</h1>
    <p class="py-6 text-gray-500">
        Cinéphoria, icône du divertissement cinématographique français, est une entreprise qui valorise une expérience unique pour ses clients. Avec un chiffre d’affaires de 5 millions d’euros et une présence dans sept cinémas en France et en Belgique, elle soutient activement des initiatives écologiques en reversant 20 % de ses revenus annuels. À travers une plateforme moderne, Cinéphoria ambitionne d’offrir un accès simple et interactif à la réservation de séances, la découverte de films et une connexion personnalisée pour chaque utilisateur.
    </p>

        </div>
    </div>
    <div class="w-full flex flex-col justify-center lg:flex-row lg:items-start">
        <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start lg:flex-shrink-0 lg:my-auto">
        <h1 class="text-5xl font-bold text-gray-900 leading-tight mb-3 text-center lg:text-left">
            Découvrez l'univers Cinéphoria, votre cinéma de confiance
    </h1>
            <p class="text-lg text-gray-600 mb-6 text-center lg:text-left">
                L’application Cinéphoria est conçue pour transformer l’expérience des amateurs de cinéma en combinant des fonctionnalités telles que la réservation intuitive de places, la consultation des films disponibles, et la gestion simplifiée des comptes utilisateurs. En parallèle, une application mobile permettra l’accès rapide aux billets via un QR code, tandis qu’une application bureautique optimisera la gestion des incidents techniques dans les salles.
            </p>

        </div>
        <div class="w-full xl:w-1/2 lg:w-2/3">
            {% include '_partials/_carousel.html.twig' %}
        </div>
    </div>
</div>
</section>
