<section>
    {#    <div class="hero bg-base-200 min-h-screen flex items-center justify-center bg-gray-300"> #}
    <div class="hero-content text-center flex align-center justify-center p-3 mt-3">
        <div class="max-w-md">
            <h1 class="text-7xl font-bold text-gray-300">Cinephoria</h1>
            <p class="py-6 text-gray-500">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.

            </p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center lg:flex-row lg:items-start">
        <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start lg:flex-shrink-0 lg:my-auto">
            <h1 class="text-5xl font-bold text-gray-900 leading-tight mb-3 text-center lg:text-left">Responsive left-aligned hero with image</h1>
            <p class="text-lg text-gray-600 mb-6 text-center lg:text-left">
                Quickly design and customize responsive mobile-first sites with Tailwind CSS, the world’s most popular utility-first framework, featuring responsive design, extensive prebuilt components, and a powerful ecosystem.
            </p>
        </div>
        <div class="w-full xl:w-1/2 lg:w-2/3">
            {% include '_partials/_carousel.html.twig' %}
        </div>
    </div>
</div>


</section>
