{% extends 'base.html.twig' %}

{% block title %}New Seance{% endblock %}

{% block body %}
    <h1>Create new Seance</h1>

    {{ include('seance/_form.html.twig', {'attr': {'class': 'space-y-6'}}) }}

    <a href="{{ path('app_seance_index') }}" class="text-blue-500 hover:text-blue-700">Retour</a>
{% endblock %}
