{% extends 'base.html.twig' %}

{% block title %}Séance{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center p-6 bg-gray-100">
        <div class="bg-white shadow-md rounded-lg p-6 w-full sm:w-2/3 lg:w-1/2">
            <h1 class="text-2xl font-bold mb-4 text-center">Séance</h1>

            <div class="container mx-auto mt-4">
                <div class="flex mb-3">
                    <div class="w-1/4 font-semibold">Id:</div>
                    <div class="w-3/4">{{ seance.id }}</div>
                </div>
                <div class="flex mb-3">
                    <div class="w-1/4 font-semibold">Heure Début:</div>
                    <div class="w-3/4">{{ seance.HeureDebut ? seance.HeureDebut|date('d/m/Y H:i:s') : '' }}</div>
                </div>
            </div>

            <div class="mt-4 mb-8 flex justify-center space-x-4">
                <a href="{{ path('app_seance_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Toutes les séances</a>
                {# <a href="{{ path('app_seance_edit', {'id': seance.id}) }}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Modifier</a> #}
            </div>
        </div>
    </div>
{% endblock %}